<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>     
</head>   
{% extends "layout.html" %}
{% block content %} 
    <form action="action_page.php" method="post">
    <div class="centerhead">
        <h1> R<img src="./Images/HoldIcon.png" width="22" height="22">UTER</h1>
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <button onclick="document.location='signup.html'" type="submit">SignUp</button>
    </form>
{% endblock %}
</html>